<!--Footer ---------------↓ -->
<footer class="bg-dark py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="list-unstyled mb-4">
                    <li><a href="index.html" class="text-white link-no-scroll">INICIO</a></li>
                    <li><a href="index.html#copas" class="text-white link-no-scroll">COPAS</a></li>
                    <li><a href="trofeos.html" class="text-white link-no-scroll">HINCHAS</a></li>
                    <li><a href="faqs.html" class="text-white link-no-scroll">FAQS</a></li>
                </ul>
            </div>
            <!--formspree --↓ -->
            <div class="col-md-6">
                <form id="contactForm" action="https://formspree.io/f/xbjnbeba" method="POST">
                    <div class="mb-3">
                        <label for="email" class="form-label text-white">
                            Tu email:
                            <input type="email" class="form-control" id="email" name="email">
                        </label>
                    </div>
                    <div class="mb-3">
                        <label for="mensaje" class="form-label text-white">
                            Mensaje:
                            <textarea class="form-control" id="message" name="message"></textarea>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
            <!--formspree--↑ -->
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <img src=" {{url_for('static',filename='assets/img/CopaFutbol.png')}}" alt="Icono del Sitio" class="img-fluid rounded-circle"
                    style="width: 50px;">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col text-center">
                <p class="text-white mb-0">&copy; 2024 WorksOnMyMachine - Todos los derechos reservados</p>
            </div>
        </div>
    </div>
</footer>
<!--footer---------------↑ -->

