<!--Header?-->
<body>
    <div class="header-container">
        <header id="myHeader" class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/" class="nav-link custom-header-text"
                        aria-current="page">Inicio</a></li>
                <li class="nav-item"><a href="/#copas" class="nav-link custom-header-text">Copas</a></li>
                <li class="nav-item"><a href="/trofeos" class="nav-link custom-header-text">Hinchas</a></li>
                <li class="nav-item"><a href="/faqs" class="nav-link custom-header-text">FAQS</a></li>
            </ul>
        </header>
    </div>
    <!--Header?-->
    